Repository GispoCoding/arho-qgis-plugin, pull requests merged in 2024-12, with the labels that each got.

#84 Suodata kaikki kaavan liittyvät tasot
  arho_feature_template/core/feature_template_library.py
  arho_feature_template/core/plan_manager.py
  arho_feature_template/core/update_plan.py
  arho_feature_template/exceptions.py
  arho_feature_template/utils/project_utils.py
  qgisprojekti.qgz
Labels: enhancement

#87 Siirrä pluginin kuvakkeet/napit omaan toolbaariin
  arho_feature_template/plugin.py
Labels: enhancement

#86 Muokkauksia tallenna kaava -lomakkeeseen
  arho_feature_template/gui/serialize_plan.py
  arho_feature_template/gui/serialize_plan.ui
Labels: enhancement

#88 Lisää kuvakkeet toolbariin
  arho_feature_template/plugin.py
Labels: enhancement

#93 Päivitä Ruff
  .pre-commit-config.yaml
  requirements-dev.txt
  ruff_defaults.toml
Labels: internal

#94 Korjaa tyhjien kenttien esitys "lataa kaava" ikkunassa
  arho_feature_template/gui/load_plan_dialog.py
Labels: bug

#90 Kaavan lomekkeen yksinkertaistaminen
  arho_feature_template/core/feature_template_library.py
  arho_feature_template/core/models.py
  arho_feature_template/core/plan_manager.py
  arho_feature_template/exceptions.py
  arho_feature_template/gui/code_combobox.py
  arho_feature_template/gui/plan_attribure_form.py
  arho_feature_template/gui/plan_attribute_form.ui
  arho_feature_template/models/__init__.py
  arho_feature_template/models/plan_model_.py
  arho_feature_template/project/__init__.py
  arho_feature_template/project/layers/__init__.py
  arho_feature_template/project/layers/code_layers.py
  arho_feature_template/project/layers/plan_layers.py
  arho_feature_template/utils/project_utils.py
  pyproject.toml
Labels: enhancement

#98 Yleismääräyksien lisääminen kaavan lomakkeessa
  arho_feature_template/gui/plan_attribure_form.py
  arho_feature_template/gui/plan_attribute_form.ui
  arho_feature_template/gui/plan_regulation_group_widget.py
  arho_feature_template/gui/plan_regulation_group_widget.ui
Labels: enhancement

#99 Validaation ajon näkyvöittäminen
  arho_feature_template/gui/validation_dock.py
  arho_feature_template/gui/validation_dock.ui
Labels: enhancement

#102 Esitä validaatiovirheet hierarkkisessa puunäkymässä
  arho_feature_template/gui/validation_dock.py
  arho_feature_template/gui/validation_dock.ui
  arho_feature_template/gui/validation_tree_view.py
Labels: enhancement

#104 Selkeytä työkalujen nimiä
  arho_feature_template/plugin.py
Labels: enhancement
