Repository GispoCoding/arho-qgis-plugin, pull requests merged in 2025-06, with the labels that each got.

#281 Estä usean pääkäyttötarkoituksellisen kaavamääräysryhmän lisäämisen samalle kaavakohteelle
  arho_feature_template/gui/dialogs/plan_feature_form.py
Labels: enhancement, UI/UX

#285 Lisää nappi kaava-asian jsonin viemiseksi
  arho_feature_template/core/lambda_service.py
  arho_feature_template/core/plan_manager.py
  arho_feature_template/gui/dialogs/serialize_plan_matter.py
  arho_feature_template/gui/dialogs/serialize_plan_matter.ui
  arho_feature_template/plugin.py
Labels: enhancement

#292 Yhdistä kaavamääräyksen tietojen ja lisätietojen napit
  arho_feature_template/gui/components/plan_regulation_widget.py
  arho_feature_template/gui/components/plan_regulation_widget.ui
Labels: enhancement

#311 Kasvata numeeristen syötteiden maksimi- ja minimiarvoja
  arho_feature_template/gui/components/value_input_widgets.py
Labels: bug

#315 Harmonisoi termistö tietomallin (v1.0.3) mukaiseksi
  arho_feature_template/core/models.py
  arho_feature_template/gui/components/general_regulation_group_widget.py
  arho_feature_template/gui/components/general_regulation_group_widget.ui
  arho_feature_template/gui/components/plan_regulation_group_widget.py
  arho_feature_template/gui/components/plan_regulation_group_widget.ui
  arho_feature_template/gui/dialogs/plan_feature_form.py
  arho_feature_template/gui/dialogs/plan_regulation_group_form.py
  arho_feature_template/gui/dialogs/plan_regulation_group_form.ui
  arho_feature_template/project/layers/plan_layers.py
  arho_feature_template/resources/libraries/regulation_groups/katja_asemakaava.yaml
  arho_feature_template/resources/libraries/regulation_groups/katja_maakuntakaava.yaml
  arho_feature_template/resources/libraries/regulation_groups/katja_yleiskaava.yaml
Labels: data model
